# Development requirements
-r requirements.txt

# Testing
pytest>=6.0
pytest-cov
pytest-flask

# Code quality
black
flake8
mypy
isort

# Pre-commit hooks
pre-commit

# Development tools
python-dotenv
flask-shell-ipython
